<div class="container">
  <%= form_with(model: worklog) do |form| %>
    <div class="mb-3">
      <%= form.label :task, class: 'form-label' %>
      <%= form.collection_select :task_id, Task.all, :id, :name, { prompt: "Select a Task" }, class: 'form-select', required: true %>
    </div>

    <div class="mb-3">
      <%= form.label :minutes_worked, class: 'form-label' %>
      <%= form.number_field :minutes_worked, class: 'form-control', required: true %>
    </div>

    <div class="mb-3">
      <%= form.label :description, class: 'form-label' %>
      <%= form.text_area :description, class: 'form-control' %>
    </div>

    <div class="text-center">
      <%= form.submit class: 'btn btn-pink shadow-sm' %>
    </div>
  <% end %>
</div>