<h1 class="text-center mt-4">Working Logs</h1>

<section class="container">
  <a href="#" type="button" class="btn btn-secondary float-end mb-2 shadow-sm" data-bs-toggle="modal" data-bs-target="#newWorkLog">
    + Add Log
  </a>
  <table class="table table-striped table-bordered table-responsive-sm border-white shadow-sm">
    <thead class="bg-secondary text-white border-white">
    <tr>
      <th class="text-center px-3">#</th>
      <th class="text-center">Minutes worked</th>
      <th>Description</th>
      <th class="text-center">Date</th>
    </tr>
    </thead>

    <tbody class="border-white">
    <% @worklogs.each_with_index do |worklog, index| %>
      <tr>
        <td class="text-center"><%= index + 1 %></td>
        <td class="text-center"><%= worklog.minutes_worked %></td>
        <td><%= truncate worklog.description, length: 115 %></td>
        <td><%= worklog.created_at.to_date %></td>
<!--        <td><%#= link_to 'Show', worklog %></td>-->
<!--        <td><%#= link_to 'Edit', edit_worklog_path(worklog) %></td>-->
<!--        <td><%#= link_to 'Destroy', worklog, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <div class="modal fade" id="newWorkLog" tabindex="-1" aria-labelledby="newWorkLogLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title fw-normal" id="newWorkLogLabel"> Create Work Log </h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render 'worklogs/form', worklog: @worklog %>
        </div>
      </div>
    </div>
  </div>
</section>