<main class="mt-5 m-auto w-50">
  <h1 class="mb-3 fw-normal">Sign up</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="my-3">
      <%= f.label :email, class: 'form-label' %><br/>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control shadow-sm", placeholder: "ahmad@email.com" %>
    </div>

    <div class="my-3">
      <%= f.label :password, class: 'form-label' %>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control shadow-sm", placeholder: "Password (6 characters minimum)" %>
    </div>

    <div class="my-3">
      <%= f.label :password_confirmation, class: 'form-label' %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control shadow-sm", placeholder: "Password Confirmation" %>
    </div>

    <div class="my-3">
      <%= f.submit "Sign up", class: 'btn btn-pink shadow-sm' %>
    </div>
  <% end %>
</main>